<body>
    <div class = "head">
        <h1>Vendors </h1>
       <div class = "image1" >
            <img src= "http://dx.deucex.com/i/logo.png" >
        </div>
    </div>
    
    </body>

<table>
    <tr>
        <% if user_signed_in? %>    
            <%= button_to "New Vendor", new_vendor_path, :method => "get" %>
        <% end %>
       
        <%= button_to "Inventory List", inventories_path, :method => "get" %>
            <%= form_tag vendors_path, :method => "get" do %>
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag "Search", :contact_name => nil %>
        <% end %>
        
        <div class = "pag" >
            <%= will_paginate @vendors %>
        </div>
    </tr>
</table>

<table class = "vend2">

    <tr>
        <th>Company</th>
        <th>Contact Name</th>
        <th>Phone</th>
        <th>Email</th>
    </tr>
    
    <% for vendor in @vendors %>

    <tr class = "vendorlist">
        <td><%= vendor.company %></td>
        <td><%= vendor.contact_name %></td>
        <td><%= vendor.phone %></td>
        <td><%= vendor.email %></td>
    
        <% if user_signed_in? %>
        <td><%= button_to "Show", vendor_path(vendor), :method => "get" %></td>
        <td><%= button_to "Edit", edit_vendor_path(vendor), :method => "get" %></td>
        <td><%= button_to 'Delete', 
                                vendor_path(vendor),
                                method: :delete, 
                                data: { confirm: 'Are you sure?'} %></td>
        <% end %>
        
       
        
    </tr>
    <% end %>

</table>

